{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Об авторе</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h6 class="mb-3">{{ author.name }}</h6>
                <p><strong>Группа:</strong> {{ author.group }}</p>
                <p><strong>ISU-ID:</strong> 501455</p>
                <p class="text-muted mt-4">
                    Лабораторная работа 9
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}